parameters:

  level: max

  scanDirectories:
    - stubs/

  paths:
    - benchmarks/
    - resources/
    - src/

  ignoreErrors:
    - '#Parameter .+? expects Redis, Relay\\Relay given#'
    - '#Return type \(Relay\\Relay\) of method .+? should be compatible with return type \(Redis\) of method#'
    - '#PHPDoc type Relay\\Relay of property .+? is not covariant with PHPDoc type Redis#'
    - '#Method .+?\\RelayNewRelic::[\w]?scan\(\) should return .+? but returns mixed#'
