name: Code style

on: [push, pull_request]

jobs:

  phpstan:

    name: PHPStan
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          tools: composer

      - name: Install Composer dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader --ignore-platform-req=ext-relay

      - name: Download stubs
        run: |
          cd stubs
          wget https://cachewerk.s3.amazonaws.com/relay/dev/relay.stub.php
          wget https://raw.githubusercontent.com/JetBrains/phpstorm-stubs/master/newrelic/newrelic.php

      - name: Run PHPStan
        run: composer run stan

  editorconfig:

    name: EditorConfig
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check EditorConfig
        uses: greut/eclint-action@v0
